<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Indian</title>
    </head>
    <body>
        Indian
        <div>
            <input type="button" value="Register" onclick="moveRegister()"/>
        </div>
        <script type="text/javascript">
            function moveRegister() {
                location.href = "/Register";
            }
        </script>
        <div>
            <input type="button" value="Login" onclick="moveLogin()"/>
        </div>
        <script type="text/javascript">
            function moveLogin() {
                location.href = "/Login";
            }
        </script>
    </body>
</html>