<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>회원가입</title>
</head>

<body>

    <form method="POST" action="/users/Register">
        <table>
            <tbody>
                <tr>
                    <td style="width: 110px;">
                        <div>
                            <img src="./1.png" width="200" height="200">
                            &lt; 첨부 할 수 있게 &gt;
                        </div>
                    </td>
                </tr>
                <tr>
                    <td style="width: 110px;">
                        <h5>E-mail</h5>
                    </td>
                    <td colspan="2"><input type="email" id="email" name="email" maxLength="30"
                            placeholder="이메일"></td>
                </tr>
                <tr>
                    <td style="width: 120px;">
                        <h5>비밀번호</h5>
                    </td>
                    <td colspan="2"><input type="password" id="password" name="password" maxLength="20"
                            placeholder="비밀번호"></td>
                </tr>
                <tr>
                    <td style="width: 120px;">
                        <h5>이름</h5>
                    </td>
                    <td colspan="2"><input type="text" id="name" name="name" maxLength="20" placeholder="이름"></td>
                </tr>
                <tr>
                    <td style="width: 120px;">
                        <h5>생년월일</h5>
                    </td>
                    <td colspan="2"><input type="text" id="brith" name="birth" maxLength="20" placeholder="생년월일">
                    </td>
                </tr>
                <tr>
                    <td style="width: 120px;">
                        <h5>성별</h5>
                    </td>
                    <td colspan="2">
                        <div style="text-align: center; margin: 0 auto;">
                            <div data-toggle="buttons">
                                <label> <input type="radio" name="sex" autocomplete="off" value="남자" checked> 남자
                                </label> <label> <input type="radio" name="sex" autocomplete="off" value="여자"> 여자
                                </label>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td style="width: 110px;">
                        <h5>Phone Number</h5>
                    </td>
                    <td colspan="2"><input class="form-control" type="text" id="mobile" name="mobile"
                            maxLength="20" placeholder="휴대폰 번호"></td>
                </tr>
                <tr>
                    <td style="width: 110px;">
                        <h5>wallet account</h5>
                    </td>
                    <td colspan="2"><input type="text" id="walletAddress" name="walletAddress" maxLength="20"
                            placeholder="지갑 계좌"></td>
                </tr>
                <tr>
                    <td style="width: 110px;">
                        <h5>게임 업로드</h5>
                    </td>
                    <td colspan="2"><input type="text" id="gupload" name="gupload" maxLength="20"
                        placeholder="게임 업로드 목록"></td>
                </tr>
                <tr>
                    <td style="width: 110px;">
                        <h5>게임 다운로드</h5>
                    </td>
                    <td colspan="2"><input type="text" id="gbuylist" name="gbuylist" maxLength="20"
                        placeholder="게임 다운로드 목록"></td>
                </tr>
                <tr>
                    <td style="text-align: left" colspan="3">
                        <input type="submit" value="가입하기">
                    </td>
                </tr>
            </tbody>
        </table>
    </form>
</body>

</html>